.Button {
    background-image: url("project://database/Assets/_Project/Art/UI/Menu/Menu_Button.png?fileID=2800000&guid=e0873f264897a794d9ad6ea6700173b2&type=3#Menu_Button");
    min-width: 48%;
    min-height: 17%;
    -unity-font: url("project://database/Assets/_Project/Art/Fonts/OPTI_Copperplate/OPTICopperplate.otf?fileID=12800000&guid=785ae0712f4c466b5bbd624741ed4e4a&type=3#OPTICopperplate");
    -unity-font-definition: url("project://database/Assets/_Project/Art/Fonts/OPTI_Copperplate/OPTICopperplate%20SDF%201.asset?fileID=11400000&guid=f7a1a69b2da3c920eaaebe250c268879&type=2#OPTICopperplate SDF 1");
    font-size: 40px;
    -unity-font-style: normal;
    -unity-text-align: lower-center;
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.CreditText {
    -unity-font-definition: url("project://database/Assets/_Project/Art/Fonts/OPTI_Copperplate/OPTICopperplate%20SDF%201.asset?fileID=11400000&guid=f7a1a69b2da3c920eaaebe250c268879&type=2#OPTICopperplate SDF 1");
    font-size: 40px;
    margin-top: 15px;
    margin-left: 100px;
    top: 20%;
}
